# ignore my git update script
update_git.py
transporter.py

# ignore hidden folders
**.aarlo/
**.storage/
**.cloud/
**.google.token

# ignore some directories.
**/icloud/
**/www/
**/tts/
**/deps/
**/hadashboards/
**/intents/
**/themes/
**/custom_components
**/deps
**/hacs
**/zigbee2mqtt/
**/__pycache__/
**/zha_quirks/
**/templates/
**/pyscript/
**python_scripts/
**/life360/
**/images/
**/trash/

# ignore any of these files no matter where they are using double *
**.DS_Store
**._*
**.HA_VERSION
**.ini
**.pyc
**.conf
**.uuid
**.txt
**.log*
**.db
**.sqlite
**.xml
**secrets*
**.session
**.*.json
**.ip_authenticated.yaml
**eero_tracker_instantiate.py
**known_devices.yaml
**google_calendars.yaml
**ip_bans.yaml
**.spotify-token-cache
**zones.yaml
**test.yaml
**testing.yaml
**.homekit*
**.vscode
**.pid
**.xml
**.csr
**.crt
**.key
**.pem
**core.*
**OZW_Log.txt
**.db-journal
**.db-shm
**.db-wal
**.sqlite
**__pycache__
**phue.conf 
**ios.conf
**pyozw.sqlite
**ipchange.yaml
**production_auth.json
**traccar.xml
**sensitive.yaml